.overlay-left {
  position: absolute;
  top: 1em;
  left: 10%;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  cursor: pointer;
}

.overlay-right {
  position: absolute;
  top: 1em;
  right: 1em;

  opacity: 0;
  transition: .3s ease;
  cursor: pointer;
}

.info-icon:hover{
  opacity: 0.8;
}


.movieImg:hover .overlay-left {
  opacity: 1;
}
.movieImg:hover .overlay-right {
  opacity: 1;
}


.movieImg{
  position: relative;
  width: 100%;
}

.large-icon{
  font-size: 2em;
}